html,
body {
  margin-top: 2em;
  padding: 0px;
}

body * {
  font-family: Roboto, sans-serif;
}
span.MuiCardHeader-title.MuiTypography-displayBlock.MuiTypography-h5.MuiTypography-root {
  height: 77px;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: medium;
  letter-spacing: 0px;
  color: #4d4d4d;
  opacity: 1;
}
p.MuiTypography-body1.MuiTypography-paragraph.MuiTypography-root {
  text-align: justify;
}

#customCollapse {
  padding: 0 !important;
}
#customHeader {
  display: inline-flex !important;
}
@media (max-width: 768px) and (min-width: 500px) {
  #contactCustom > div {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  #Breadcrumb {
    display: none;
  }
  #contactCustom {
    position: fixed !important;
    bottom: 0 !important;
    display: flex !important;
    left: 0 !important;
    background-color: #ffffff !important;
    padding: 10px !important;
    z-index: 9999 !important;
    width: 100% !important;
  }
  #contactText {
    display: none;
  }
  .makeStyles-chatContainer-228 {
    margin: 4px !important;
    padding: 1px !important;
    display: inline-table !important;
    background-color: #ffffff;
  }
  .makeStyles-seller-224 {
    margin: 5px !important;
    padding: 0 !important;
    background-color: #ffffff;
  }
  /* header CSS */
  #customHeader {
    display: inline-block !important;
  }
  #imgCard {
    margin-bottom: 1em !important;
  }
  #contactContainer {
    width: 92% !important;
  }
  #contactDivider {
    display: none;
  }
  #similarContainer {
    width: 50% !important;
    display: flex !important;
  }
  #similarContainer > div {
    width: 100% !important;
  }
}

#similarContainer > div {
  margin: 13px !important;
}
/* img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
  max-width: 100%;
  height: auto;
} */
